<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">
<meta charset="UTF-8">
<div layout:fragment="content">

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Para quem é a oração?<strong style="color:red;">*</strong></label>
  <input type="email" class="form-control" id="exampleFormControlInput1" required>
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Contato:</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="(xx) xxxx-xxxx ">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Descrição do pedido:</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Digite aqui uma breve descrição"></textarea>
</div>
<div class="mb-3">
	<label for="exampleFormControlTextarea1" class="form-label">Motivo do pedido da oração:</label>
	<select class="form-select form-select-sm" aria-label=".form-select-sm example">
  		<option selected="selected">Selecione</option>
  		<option value="1">Libertação</option>
		<option value="2">Proteção</option>
		<option value="3">Saúde</option>
		<option value="4">Relacionamento</option>
		<option value="5">Finanças</option>
		<option value="6">Agradecimento</option>
		<option value="7">Intercessão</option>
		<option value="8">Emprego</option>
		<option value="9">Processo judicial</option>
		<option value="10">Propósto</option>
		<option value="11">Familia</option>
		<option value="12">Outro</option>
	</select>
</div>
<button type="button" class="btn btn-primary btn-lg">Enviar</button>
</div>
</html>