<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">
<meta charset="UTF-8">
<div layout:fragment="content">

<form method="post" th:object="${pedido}" th:action="@{/pedidos}">
	<img src="assets/pedidos-de-oracao.png" alt="pedido-imagem" width="300"
		height="100" class="d-inline-block align-text-top"
		style="margin-left: 430px; margin-top: 10px">
	<div class="mb-3">
		<label for="exampleFormControlInput1" class="form-label">Para
			quem é a oração? <strong style="color: red;">*</strong>
		</label> <input type="text" class="form-control"
			id="exampleFormControlInput1" th:field="*{nome}" required>
	</div>
	<div class="mb-3">
		<label for="exampleFormControlInput1" class="form-label">Contato:</label>
		<input type="number" class="form-control" th:field="*{contato}" id="exampleFormControlInput1"
			placeholder="(xx) xxxx-xxxx ">
	</div>
	<div class="mb-3">
		<label for="exampleFormControlTextarea1" class="form-label">Descrição
			do pedido:</label>
		<textarea class="form-control" th:field="*{descricao}" id="exampleFormControlTextarea1"
			rows="3" placeholder="Digite aqui uma breve descrição"></textarea>
	</div>
	<div class="mb-3">
		<label for="exampleFormControlTextarea1" class="form-label">Motivo
			do pedido da oração: <strong style="color:red;">*</strong></label> 
			<select class="form-select form-select-sm"
			aria-label=".form-select-sm example" th:field="*{motivo}" required>
			<option th:value="NULL" selected="selected">Selecione</option>
			<option th:value="LIBERTACAO">Libertação</option>
			<option th:value="PROTECAO">Proteção</option>
			<option th:value="SAUDE">Saúde</option>
			<option th:value="RELACIONAMENTO">Relacionamento</option>
			<option th:value="FINANCAS">Finanças</option>
			<option th:value="AGRADECIMENTO">Agradecimento</option>
			<option th:value="INTERCESSAO">Intercessão</option>
			<option th:value="EMPREGO">Emprego</option>
			<option th:value="PROCESSO_JUDICIAL">Processo judicial</option>
			<option th:value="PROPOSITO">Propósito</option>
			<option th:value="FAMILIA">Familia</option>
			<option th:value="OUTRO">Outro</option>
		</select>
	</div>
	<button type="submit" class="btn btn-primary btn-lg">Salvar</button>
</form>
</div>
</html>